[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
[ng-click]:hover {
  cursor: pointer;
}
md-content.md-default-theme {
  background-color: #eee;
}
md-sidenav > md-toolbar {
  padding: 15px;
  height: 128px;
  max-height: 128px;
}
md-sidenav md-list-item.md-2-line .md-list-item-text {
  padding-top: 14px;
  padding-bottom: 12px;
}
md-sidenav md-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}
md-sidenav md-icon {
  fill: #737373;
  position: relative;
}
md-sidenav .md-avatar {
  height: 64px;
  width: 64px;
}
/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */

md-list-item.md-3-line md-divider[md-inset] {
  left: 70px;
}
.md-avatar > svg {
  border-radius: 50%;
}
/* fade animation */

.animate-show {
  transition: 0.75s ease-out opacity;
  opacity: 1;
}
.animate-show.ng-hide {
  height: 0;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
}
#userProfile {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%;
}
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gridListdemoDynamicTiles .s64 {
  font-size: 64px;
}
.gridListdemoDynamicTiles .s32 {
  font-size: 48px;
}
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0;
}
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px;
}
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px;
}
.gridListdemoDynamicTiles .gray {
  background: #f5f5f5;
}
.gridListdemoDynamicTiles .green {
  background: #b9f6ca;
}
.gridListdemoDynamicTiles .yellow {
  background: #ffff8d;
}
.gridListdemoDynamicTiles .blue {
  background: #84ffff;
}
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff;
}
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff;
}
.gridListdemoDynamicTiles .purple {
  background: #b388ff;
}
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff;
}
.gridListdemoDynamicTiles .red {
  background: #ff8a80;
}
.gridListdemoDynamicTiles .pink {
  background: #ff80ab;
}
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms;
}
.gridListdemoDynamicTiles md-grid-tile-header {
  background: rgba(0, 0, 0, 0.68);
  height: 25%;
}
.gridListdemoDynamicTiles md-grid-tile-header figcaption h3 {
  text-align: center;
}
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0);
  color: black;
  height: 75%;
}
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%;
}
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.gridListdemoDynamicTiles .closedCard md-grid-tile-footer {
  visibility: visible;
}
.gridListdemoDynamicTiles .openedCard md-grid-tile-footer {
  display: none;
}
.gridListdemoDynamicTiles .closedCard .flashCardAnswer {
  display: none;
}
.gridListdemoDynamicTiles .flashCardAnswer {
  display: block;
}
.gridListdemoDynamicTiles .flashCardAnswer {
  font-size: 14px;
  width: 95%;
  margin: 0;
  text-align: justify;
  font-size: 14px;
}
.gridListdemoDynamicTiles .openedCard {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
  transition: all 1s;
  -webkit-transition: all 1s;
  -webkit-perspective: 1000;
}